{% extends 'base.html' %}
{% block content %}
<div class="container px-4 px-lg-5">
    <!-- 두 번째 상품 -->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0"
                 src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg"
                 alt="두 번째 상품 이미지" />
        </div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">두 번째 상품입니다.</h1>
            <p>
                두 번째 상품의 정보입니다. 두 번째 상품의 정보입니다.
                두 번째 상품의 정보입니다.
            </p>
            <a class="btn btn-primary" href="#!">Call to Action!</a>
        </div>
    </div>

    <!-- 첫 번째 상품 -->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0"
                 src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg"
                 alt="첫 번째 상품 이미지" />
        </div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">첫 번째 상품 등록</h1>
            <p>
                첫 번째 상품 등록입니다. 첫 번째 상품의 정보입니다.
                첫 번째 상품의 가격입니다.
            </p>
            <a class="btn btn-primary" href="#!">Call to Action!</a>
        </div>
    </div>
</div>
{% endblock %}