<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}My project{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body class="d-flex flex-column min-vh-100">

  {% include 'navbar.html' %}

  <main class="flex-grow-1">
    <div class="container px-4 px-lg-5 mt-5">
      {% block content %}{% endblock %}
    </div>
  </main>

  {% include 'footer.html' %}

  <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
</body>
</html>
